@font-face {
    font-family: 'LAB디지털';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{ 
    font-family: 'LAB디지털'; 
}

body {
    margin:0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color :black;
}

.dayTime {
    box-sizing: border-box;
    width: 370px;
    text-align: center;
    border : 1px solid white;
    color : white;
    font-size: 32px;
    border-radius: 10px;
    padding: 19px;
}
.day {
    margin-bottom: 0;
}

.time {
    margin-top: 10px;
}




